.maindiv{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("./images/bgs.jpg");
  background-repeat: no-repeat;
    background-size: cover;
      background-attachment: fixed;
      width: 100%;
      min-height: 100vh;
}

.header{
  background-color: rgba(51, 49, 49, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  float: left;
  width: 100%;
  height: 10%;
  margin-bottom: 15px;
}
.inf{
  color: white;
  font-size: 30px;
  padding: 20px;
  padding-bottom: 50px;

}
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #16181a;
  color: white;
  text-align: center;
}
.link a{
  color: white;
  margin: 8px;
  font-size: large;
  text-decoration: none;
}
.welcome{
  color: white; 
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.clearbutton{
  background-color: #040659;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

.clearbutton:hover{
  background-color: #620000;
  color: #ffffff;
  font-weight: bolder;
}
.row2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.save {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}



.edit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 2px;
  width: 80px;
  cursor: pointer;
}



  .todoadd {
      background-color: #ffffff;
      color: rgb(103, 0, 0);
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px;
      width: 300px;
      border: 2px solid #ffffff;
    }
  
    .tododateadd {
      background-color: #ffffff;
      color: rgb(103, 0, 0);
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px;
      width: 200px;
      border: 2px solid #ffffff;
    }
  
    .button2 {
      width: 8vw;
      height: 40px;
      margin-left: 25px;
    }
    @media screen and (min-width: 700px) {
      .button2 {
       margin-right: 150px;
      }
      
    }
    .button3{
      background-color: #0f12c6;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 15px;
        border: 2px solid #ffffff;
    }

    .inpdiv {
      width: 20vw;
      height: 35px;
      border-radius: 20px;
      border: 2px solid #ffffff;
        color: rgb(103, 0, 0);
        font-weight: bold;
      padding: 10px;
      font-size: 20px;
      margin: 10px;
    }
  
    .row3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
.container2{
  margin-top: 20px;
}

.clear {
  margin-top: 40px;
}
.bse{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
.pen{
  color: aliceblue;
   font-size: 25px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 display: flex;
 margin-left: 20px;
}


@media screen and (max-width:700px) {
  .maindiv {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/gdp.jpeg");
              background-attachment: scroll;
    }
  .row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.todoadd {
  width: 60vw;    
}

.tododateadd {
 width: 40vw;
}
.td{
 margin-right: 17%;
}
.ta{
  margin-right: 17%;
}
.button2{
  width: 20vw;
  height: 40px;
}
.btn3{
 margin-right: 8%;
 padding-bottom: 60px;
}
.edbtn{
  margin-right: 2%;
}
.dlbtn{
  margin-right: 60px;
  margin-top: 4px;
}
.inpdiv{
  width: 30vw;
  display: flex;
}
.sno{
  margin-bottom: 20px;
}
.sno{
  display: flex;
  justify-content: center;
  align-items: center;
}
}
.dlbtn {
  margin-top: 4px;
}

@media screen and (min-width:700px) {
  .row2{
    padding-bottom: 20px;
  }
    .sno{
margin-left: 10vw;
    }
    .pen{
      padding-top: 40px;
    }
}

.todo-container {
  padding-bottom: 70px;
}



.snoinp{
  width: 200px;
    background-color: #ffffff;
      color: rgb(103, 0, 0);
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 15px;
      border: 2px solid #ffffff;
}

.sno {
  margin-bottom: 20px;
   display: flex;
}

.snin{
  color: white;
  margin-left: 20px;
  margin-top: 7px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.sno1{
  color: white;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width:820px) {
  .headinl {
      display: none;
    }
}

@media screen and (min-width:820px) {
  .headinp {
      display: none;
    }
}




/* --------------------------------------- */

.form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.inp {
  margin-top: 15px;
  font-weight: bold;
}

.inp1 {
  width: 100%;
  border-radius: 5px;
  height: 100px;
  background-color: transparent;
}
.inp2 {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  background-color: transparent;
    border: 2px solid #ffffff;
}
.otp{
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  height: 40px;
background-color: white;
    border: 2px solid #000000;
color: #000;
border-radius: 25px;
margin-right: 8px;
font-weight: bold;
}

.main-div {
  margin: 0;
  padding: 0;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right,
        rgb(52, 52, 53),
        rgb(1, 1, 32));
}
.log{
  margin-top: 60px;
}
.dark {
  background: linear-gradient(to right,
      rgb(52, 52, 53),
      rgb(1, 1, 32));
  color: white;
}


.inp1::placeholder {
  text-align: left;
  padding-top: 0;
}


.send1 {
  text-align: center;
    margin-top: 20px;
}
.send2{
  color: #ffffff;
  background-color: black;
  padding: 8px 16px;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid #ffffff; 
}

@media screen and (min-width:800px) {
  .form {
    width: 30%;
  }
}


.dark .inp1 {
  border: 1px solid white;
}


.dark .inp1::placeholder {
  color: white;
}


.contact {
  margin-top: 15px;
  font-size: 20px;
  width: 170px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  text-align: center;
color: white;
  background-color: transparent;
}

.inp{
  color: white;
  font-weight: bold;
}

.inp2{
  color: white;
  font-weight: bold;
}

.mess{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mess button{
  background-color: #231c1c;
  border: 1px solid white;
  color: white;
}