.maindiv{
  background-image: url("./images/bgs.jpg");
  background-repeat: no-repeat;
    background-size: cover;
      background-attachment: fixed;
      width: 100%;
      min-height: 100vh;
}

.header{
  background-color: rgba(51, 49, 49, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  float: left;
  width: 100%;
  height: 10%;
  margin-bottom: 15px;
}
.inf{
  color: white;
  font-size: 30px;
  padding: 20px;

}
.sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #16181a;
  color: white;
  text-align: center;
}
.link a{
  color: white;
  margin: 8px;
  font-size: large;
  text-decoration: none;
}
.welcome{
  color: white; 
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.clearbutton{
  background-color: #040659;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #ffffff;
}

.clearbutton:hover{
  background-color: #620000;
  color: #ffffff;
  font-weight: bolder;
}
.row2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.save {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.edit {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  margin: 4px 2px;
  width: 80px;
  cursor: pointer;
}
  .todoadd {
      background-color: #ffffff;
      color: rgb(103, 0, 0);
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px;
      width: 300px;
      border: 2px solid #ffffff;
    }
  
    .tododateadd {
      background-color: #ffffff;
      color: rgb(103, 0, 0);
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 20px;
      width: 200px;
      border: 2px solid #ffffff;
    }
  
    .button2 {
      width: 11vw;
      height: 40px;
    }
    .button3{
      background-color: #0f12c6;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 15px;
        border: 2px solid #ffffff;
    }

    .inpdiv {
      width: 20vw;
      height: 35px;
      border-radius: 20px;
      border: 2px solid #ffffff;
      padding: 10px;
      font-size: 20px;
      margin: 10px;
    }
  
    .row3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
.container2{
  margin-top: 20px;
}

.clear {
  margin-top: 40px;
}
.bse{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
}
.pen{
  color: aliceblue;
   font-size: 25px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 display: flex;
 margin-left: 20px;
}


@media screen and (max-width:700px) {
  .row2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.todoadd {
  width: 60vw;    
}

.tododateadd {
 width: 40vw;
}
.td{
  margin-right: 13%;
}
.ta{
  margin-right: 17%;
}
.button2{
  width: 20vw;
  height: 40px;
}
.btn3{
 margin-right: 8%;
 padding-bottom: 60px;
}
.edbtn{
  margin-right: 2%;
}
.dlbtn{
  margin-left: 20px;
  margin-top: 4px;
}
.inpdiv{
  width: 30vw;
  display: flex;
}
}

@media screen and (min-width:700px) {
  .row2{
    padding-bottom: 20px;
  }
}
.todo-container {
  padding-bottom: 70px;
}